@charset "utf-8";

body {
	background-color: #f4f9fb;
	background-image: url("../images/font.png");
	background-repeat: repeat-x;
	color: #6a6a6a;
}

#wrapper {
	position: absolute;
	top: 50%;
	left: 50%;	margin: -15% 0 0 -15%;
	width: 30%;
	height: 60%;
	min-height: 300px;
	min-width: 150px;
	z-index: 15;
	font-size: 16px;
}

#central, #bottom {
	border: 7px solid #9fc8dd;
	background-color: rgba(255,255,255,0.3);
	float: left;
	width: 100%;
	height: 47%;
}

#central {
	margin-bottom: 3%;
}

#bottom {
	margin-top: 3%;
}

#signinheader {
	position: relative;
	height: 15%;
	width: 100%;
	float: left;
	padding-top: 2%;
	font-size: 22px;
	text-align: center;
	overflow: hidden;
}

#useremail, #password {
	position: relative;
	float: left;
	height: 29%;
	width: 100%;
	margin-bottom: 1%;
}

.identification {
	margin-left: 10%;
	padding-top: 1%;
	width: 100%;
	height: 40%;
	float: left;
}

input[type='text'], input[type='password'] {
	margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 39%;
	float: left;
	font-size: 16px;
	color: #757575;
	padding-left: 5px;
}

#register {
	height: 18%;
	width: 100%;
	float: left;
	overflow: hidden;
}

#signinbutton, #signupbutton {
	color: #4b4b4b;
	font-family: crimson-text;
	font-size: 16px;
	background-color: #a7d3e9;
	border: thin solid #a7d3e9;
	float: right;
	outline-style: none;
	text-align: center;
	padding-top: 2px;
	border-radius: 7px;
	cursor: pointer;
	vertical-align: top;
	margin-right: 8%;
	margin-top: 2%;
}

#signinbutton:hover, #signinbutton:focus, #signupbutton:hover, #signupbutton:focus {
	background-color: #b0def6;
	border-color: #b0def6;
}

.error {
	float: left;
	width: 50%;
	margin-left: 10%;
	margin-top: 2%;
	font-size: 14px;
	overflow: hidden;
	color: orangered;
	display: inline-block;
	vertical-align: middle;
}
